body {
    font-family: "Montserrat", sans-serif;;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: block;
    box-sizing: content-box;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 0px 16px;
    width: 90px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}


.btn:hover {
    background: #6c8cff;
}

.timer-input {
    margin-top: 32px;
    border-radius: 4px;
    width: 264px;
    height: 34px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.start-timer-btn:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.5;
}

.start-timer-btn {
    margin-left: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

/* .start-timer-btn:active {
    background: #4e75ff;
    color: #fff;
} */

/* .start-timer-btn:hover {
    background: #6c8cff;
    color: #fff;
} */

.wrap {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.wrap-field {
    display: flex;
    flex-direction: column;
}

.wrap-field-value{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.wrap-field-label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}